<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- build:css css/index.min.css -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- endbuild -->
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
