<br />
<nav class="navbar navbar-dark bg-dark">
  <span class="navbar-text text-light">
    <p>E-mail: pedro@maiamonteiro.com.br</p>
    <p>Cidades do Brasil.</p>
  </span>
</nav>

<!-- JQUERY -->
<script type="text/javascript" src="../assets/jquery/dist/jquery.js"></script>
</body>
</html>
